* {
    font-family: 'Trebuchet MS';
}

#title {
    text-align: center;
}

#desc {
    text-align: center;
}

form {
    justify-content: center;
    /* border: 1px solid #333; */
}
.input {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 35.5%;
}

#weight {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 30%;
    margin-left: 35.5%;
    margin-top: 10px;
}

#height {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 30%;
    margin-left: 35.5%;
    margin-bottom: 5px;
    margin-top: 10px;
}

#hitung {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 35.5%;
    padding: 10px;
    background-color: #6558f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset {
    padding: 10px;
    background-color: #ED2B2A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#hasil {
    margin-top: 20px;
    font-weight: bolder;
    text-align: center;
}